/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create a right-aligned (split) link inside the navigation bar */ .topnav a.split {
  float: right;
  background-color: #bc8f8f;
  color: white;
}

/* Additional card styling */
.card {
    padding: 20px;
    margin-top: 20px;
    border: pink, 1px;
    text-align: center;
    font-family: sans-serif;
    color: #bc8f8f
  }

.card-body {
    padding: 20px;
    margin-top: 20px;
}

.container {
    position: relative;
    width: 50%;
  }
.image {
    display: block;
    width: 100%;
  }



.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #bc8f8f;
  }
  
.container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
